@font-face {
  font-family: 'FloodStd';
  src: url('assets/FloodStd.otf');
}

body {
	font-family: Optima;
  color: #7A7E80;
  margin: 0;
  position: relative;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

a,u {
  text-decoration: none;
}

/* stay as the same color as the parent element */
a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: #FC7735;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
}

#navigation {
  position: fixed;
  z-index: 1000;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  display: block;
  z-index: 3;
  background-color: #fff;
}

#container {
  margin: 0 5em;
}

#homeimage {
  width: 100%;
  padding-top: 50px;
}

#contact {
  display: block;
  margin: auto;
}

#project {
  width: 100%;
}

/* make list items horizontal */
 .nav-li {
  float: left;
  padding: 0 1em;
  font-family: 'roboto';
}

.hor-li {
  float: left;
}

.icon {
  height: 2em;
  width: 2em;
  margin: 0 .5em 0 2em;
}

.title {
  font-family: FloodStd;
  color: black;
}

.name-title {
  font-size: 30px;
  margin-left: 0;
}

.project-details {
  width: 80%;
  margin: auto;
}

.project-pic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
}

.images {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.alt-background {
  background-color: #edebeb;
}

.resume-btn {
  display: block;
  margin: 100px auto;
  background-color: #87D0E8;
  color: white;
  border-radius: 30px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  font-size: 15px;
}

.intro-name {
  color: #FC7735;
}

.project-name {
  color: black;
  font-size: 25px;
}

