@font-face {
  font-family: "FloodStd";
  src: url("assets/FloodStd.otf");
}

body {
	font-family: Optima;
  color: #7A7E80;
  margin: 0 auto;
  position: relative;
  line-height: 1.5;
  text-align: left;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E3E5E6;
  margin-top: 40px;
  padding: 0;
  width: 70%;
}

a,u {
  text-decoration: none;
}

/* stay as the same color as the parent element */
a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: #FC7735;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
}


.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #FFF;
  height: 100px;
}

/* make list items horizontal */
.nav ul li {
  float: left;
  display: inline;
  font-family: "roboto";
}

.nav ul li a {
  padding: 10px 25px;
  height: 20px;
}

.title {
  font-family: FloodStd;
  font-size: 22px;
  color:black;
  padding-bottom: 40px;
}

#container p{
  width: 70%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  background-color: #FCFCF7;
}

#homeimage {
  width: 100%;
  padding-top: 100px;
  vertical-align: top;
}

#contact {
  display: block;
  font-size: 18px;
  width: 70%;
  margin: 0 auto;
}

#contact i {
  font-size: 40px;
  color:lightblue;
  margin-left: 5px;
  margin-right: 5px;
}

#contact ul li {
  float: left;
  display: inline;
  padding-right: 35px;
  height: 90px;
  line-height: 90px;
}

#contact ul li a {
}

#project {
  width: 100%;
}







.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.project-details {
  width: 80%;
  margin: auto;
}

.project-pic {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
}

.friends-pic {
  height: 293px;
}

.images {
  text-align: center;
}

.alt-background {
  background-color: #edebeb;
}

.resume-btn {
  display: block;
  margin: 100px auto;
  background-color: #87D0E8;
  color: white;
  border: transparent;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  font-size: 15px;
}

.intro-name {
  color: #E158E8;
}

.project-name {
  color: black;
  font-size: 25px;
  margin-top: 40px;
}

.project-btn {
  display: inline-block;
  color: #7A7E80;
  background-color: transparent;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: solid 3px #efefef;
  padding: 10px 50px;
  margin: 0 auto;
}

.project-btn:hover {
  border: solid 3px #FC7735;
  color: #FC7735;
}

.center {
  text-align: center;
}

.fade-in {
  opacity: 0;
}

.intro-fade-in {
  opacity: 0;
  padding-top: 100px;
}
